<h1>Menu Items</h1>
<div class="row">
    <% @dishes.each do |dish| %>
        <div class="card" style="width: 18rem;">
            <%= image_tag dish.picture, class:"card-img-top"%>
            <div class="card-body">
                <h5 class="card-title"><%= dish.name %></h5>
                <p class="card-text"><%= dish.description %></p>
                              
                
                <%= link_to "Show Dish", "/dishes/#{dish.id}", class: "btn btn-primary" %>
                            
            </div>
        </div>
    <% end %>
</div>

       
       