<div class="jumbotron">
<div class="row">
    <div class="col-md-6">
    <p><%= link_to "Show Menu", listing_page_path, class:"btn btn-success"%></p>
    <p><%= link_to "HomeChefs", chef_profiles_path, class:"btn btn-success"%></p>
  
</div>