<div class="jumbotron">
<div class="row">
    <div class="col-md-6">
    <p> Premium homemade food from the best home Chefs</p>
    <p>Order Yummy Food From Nearby Homes </p>
    <p><%= link_to "Show Menu", listing_page_path, class:"btn btn-success"%></p>
    <p><%= link_to "HomeChefs", chef_profiles_path, class:"btn btn-success"%></p>
    <p>"It's okay to play with your food."</p>
    <p>- Emeril Lagasse</p>
  
</div>